In [9]:
import pandas as pd
import numpy as np
import pickle

In [10]:
# Load the Excel file
file_path = 'PrimaryReservesD-1-2023_ny.xlsx'
df = pd.read_excel(file_path)
# Convert 'Time(Local)' column to datetime format
df['Time(Local)'] = pd.to_datetime(df['Time(Local)'], format='%d.%m.%Y %H:%M:%S %z', utc=True)
# convert to gmt+1
df['Time(Local)'] = df['Time(Local)'] + pd.Timedelta(hours=1)

# Drop the EUR columns as they are no longer needed
df = df.drop(['Hournumber', 'FCR-N Price NOK/MW', 'FCR-D Price NOK/MW'], axis=1)

df = df.rename(columns={'Time(Local)': 'Datetime',
                            'FCR-N Price EUR/MW': 'D-1 FCR N EUR/MW',
                            'FCR-N Volume MW': 'D-1 FCR N MW',
                            'FCR-D Price EUR/MW': 'D-1 FCR D up EUR/MW',
                            'FCR-D Volume MW': 'D-1 FCR D up MW'})

In [11]:
# Split the dataframe into the different areas
NO1 = df[df['Area'] == 'NO1']
NO2 = df[df['Area'] == 'NO2']
NO3 = df[df['Area'] == 'NO3']
NO4 = df[df['Area'] == 'NO4']
NO5 = df[df['Area'] == 'NO5']

# Drop the Area column as it is no longer needed
NO1 = NO1.drop(['Area'], axis=1)
NO2 = NO2.drop(['Area'], axis=1)
NO3 = NO3.drop(['Area'], axis=1)
NO4 = NO4.drop(['Area'], axis=1)
NO5 = NO5.drop(['Area'], axis=1)

In [12]:
# Create a new DataFrame with the timestamps
# Define the start and end dates with specific hours
start = '2023-01-01 00:00:00'
end = '2023-12-31 23:00:00'

# Generate a range of timestamps with a frequency of 1 hour
date_range = pd.date_range(start, end, freq='H', tz='UTC')

# Create a DataFrame with the timestamps
date = pd.DataFrame({'Datetime': date_range})

/var/folders/3c/tpkrzdm9581crcp362vng33m0000gn/T/ipykernel_34690/265308482.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start, end, freq='H', tz='UTC')

In [13]:
# Merge dataframe with datetime for each area and fill missing values with -99

NO1 = pd.merge(date, NO1, how='left', left_on='Datetime', right_on='Datetime')
NO1.fillna(-99, inplace=True)

NO2 = pd.merge(date, NO2, how='left', left_on='Datetime', right_on='Datetime')
NO2.fillna(-99, inplace=True)

NO3 = pd.merge(date, NO3, how='left', left_on='Datetime', right_on='Datetime')
NO3.fillna(-99, inplace=True)

NO4 = pd.merge(date, NO4, how='left', left_on='Datetime', right_on='Datetime')
NO4.fillna(-99, inplace=True)

NO5 = pd.merge(date, NO5, how='left', left_on='Datetime', right_on='Datetime')
NO5.fillna(-99, inplace=True)

In [14]:
# Store the dataframes in a dictionary
areas = {'NO1': NO1, 'NO2': NO2, 'NO3': NO3, 'NO4': NO4, 'NO5': NO5}

# Save the dictionary to a pickle file
with open('PrimaryReservesD-1-2023_ny.pkl', 'wb') as f:
    pickle.dump(areas, f)

In [15]:
areas['NO1']

,Datetime,D-1 FCR N EUR/MW,D-1 FCR N MW,D-1 FCR D up EUR/MW,D-1 FCR D up MW
0,2023-01-01 00:00:00+00:00,25.00,10.0,-99.0,0.0
1,2023-01-01 01:00:00+00:00,35.80,10.0,-99.0,0.0
2,2023-01-01 02:00:00+00:00,52.40,8.0,-99.0,0.0
3,2023-01-01 03:00:00+00:00,71.50,8.0,-99.0,0.0
4,2023-01-01 04:00:00+00:00,90.00,8.0,-99.0,0.0
...,...,...,...,...,...
8755,2023-12-31 19:00:00+00:00,22.24,20.0,-99.0,0.0
8756,2023-12-31 20:00:00+00:00,23.10,20.0,-99.0,0.0
8757,2023-12-31 21:00:00+00:00,23.10,21.0,-99.0,0.0
8758,2023-12-31 22:00:00+00:00,22.00,21.0,-99.0,0.0
8759,2023-12-31 23:00:00+00:00,-99.00,-99.0,-99.0,-99.0

In [16]:
""" # load the pickle file
with open('PrimaryReservesD-2-2023_ny.pkl', 'rb') as f:
    data = pickle.load(f) """

" # load the pickle file\nwith open('PrimaryReservesD-2-2023_ny.pkl', 'rb') as f:\n    data = pickle.load(f) "